<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragment/head :: headerFragment">
    <title id="pageTitle">Player | YAF</title>
    <style>
        .tb {
            border: 2px solid white;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div class="sidebar-color"  th:if="${sidenavbar eq 'subAdmin'}">
        <div th:replace="fragment/subadminsidebar :: playersidebar"></div>
    </div>
    <div class="sidebar-color"  th:if="${sidenavbar eq 'teller'}">
        <div th:replace="fragment/tellersidebar :: tellersidebar"></div>
    </div>
    <div class="sidebar-color"  th:if="${sidenavbar eq 'admin'}">
        <div th:replace="fragment/sidebar :: sidebar"></div>
    </div>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragment/notification :: notification"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-9 col-lg-9">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Player Report</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="report"></canvas>
                                </div>
                                <hr>
                                <div class='gauge-wrapper'>
                                    <div class='gauge-target'>
                                        Satisfaction Report
                                    </div>
                                    <div>
                                        <canvas id='foo' />

                                    </div>
                                    <div class='gauge-title'>
                                        <p><span th:text="${totalPercentage}"/>% satisfaction level</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Index</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <table class="tb">
                                        <tr th:each="iterate : ${tellerlist}">
                                            <td th:if="${iterate.key}=='Rating 4'" style="background-color: #20c914;
                                            width: 10px; "></td>
                                            <td th:if="${iterate.key}=='Rating 3'" style="background-color: #ecf540;
                                            width: 10px; "></td>
                                            <td th:if="${iterate.key}=='Rating 2'" style="background-color: #ffa557;
                                            width: 10px; "></td>
                                            <td th:if="${iterate.key}=='Rating 1'" style="background-color: #ff5757;
                                            width: 10px; "></td>
                                            <td style="padding-left: 10px;" th:if="${iterate.value.count}==0"> <span
                                                    th:text="${iterate.key}"/>
                                                (0%)
                                            </td>
                                            <td style="padding-left: 10px;" th:if="${iterate.value.count}!=0"> <span
                                                    th:text="${iterate.key}"/> (<span
                                                    th:text="${iterate.value.count} / ${total} *100"/>%)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="fragment/footer :: footer"></div>
        <!-- End of Footer -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<div th:replace="fragment/script :: script"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var teller = [[${teller}]];
    var tellerAnswer = [[${tellerAnswer}]];
    var colorCode = [ '#ff5757', '#ffa557', '#ecf540','#20c914'];
    var hoverCode = ['#ad1f1f', '#ad5d17', '#a6ad17','#098a00'];
    var total = [[${total}]];
    if (total == 0)
    {
        colorCode = ['#ccc'];
        hoverCode = ['#666'];
        teller=["Empty"];
        tellerAnswer=[1];
    }
    var ctx = document.getElementById("report");
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [(teller)],
            datasets: [{
                data: [(tellerAnswer)],
                backgroundColor: colorCode,
                hoverBackgroundColor: hoverCode,
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 80,
        },
    });

    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var average = [[${totalPercentage}]];
    var opts = {

        angle: 0,
        lineWidth: 0.7,
        pointer: {
            length: 0.5,
            strokeWidth: 0.049,
            color: '#000000'
        },
        colorStart: '#f0a6ab',
        colorStop: '#f0a6ab',
    };
    var target = document.getElementById('foo');
    var gauge = new Gauge(target).setOptions(opts);
    gauge.maxValue = 100;
    gauge.animationSpeed = 10;
    gauge.set(average);
    /*]]>*/
</script>
</body>
</html>
