<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="generalFragment/header :: generalFragment">	
</head>
<body>

	<!-- ======= Header ======= -->
	<div th:replace="generalFragment/navBar :: navbar"></div><!-- End Header -->

	<!-- ======= Inner Banner ======= -->

	<div class="section-wrap section-wrap-background inner-banner " style="background-image: url('assets/img/programs.jpg');">

		<div class="container">

			<div class="inner-banner-content">

				<h1>Publications</h1>

				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">

					<ol class="breadcrumb inner-banner-breadcrumb">

						<li class="breadcrumb-item"><a href="home.html">Home</a></li>

						<li class="breadcrumb-item active" aria-current="page">Publications</li>

					</ol>

				</nav>

			</div>

		</div>

	</div>

	<!-- End Inner Banner -->
	<!-- ======= Publications Section======= -->
	<section class="section-wrap">

		<div class="container">

			<div class="row">
				
				<div class="col-md-8 offset-md-2">

					<h3 class="text-center">Report 2021</h3>

					<img src="/img/publications.png" alt="yaf" class="img-fluid mt-3 mb-4">

					<p class="lead">Key findings & recommendations report 2021</p>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>

					<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id esSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, to</p>

					<a href="#" class="btn btn-primary mt-2">Download PDF</a>
				</div>	

			</div>

		</div>

	</div>

</section><!-- End programs -->

<!-- ======= Footer Section======= -->
<div th:replace="generalfragment/footer :: footer"></div>
<div th:replace="fragment/script :: script"></div>
	

</body>
</html>